network:
  version: 2
  ethernets:
    ens18:
      addresses:
      - "{{ vm_ip_address }}/24"
      nameservers:
        addresses:
        - 8.8.8.8
        - 8.8.4.4
        search: []
      routes:
      - to: "default"
        via: "192.168.101.1"
